.navigation {
  list-style: none;
  display: flex;
  padding: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.navigation__item {
  padding: 8px;
  border: 2px solid black;
  flex: none;
  box-shadow: 10px 10px 10px grey;
  margin: 10px;
}

.navigation__item:hover {
  background-color: rgb(167, 164, 164);
}

.navigation__link {
  color: red;
  text-decoration: none;
}

.navigation__link:visited {
  color: darkred;
}

.navigation__link:focus {
  outline: 2px solid currentColor;
}

.navigation__link:hover {
  color: red;
  border-bottom: 1px solid;
  outline: none;
}
