body {
    font-family: "lato", sans-serif;
}

.listItem {
    margin: 10px;
    background-color: blue;
}

.list {
    padding-left: 10px;

}

.orderedList {
    list-style-type: decimal-leading-zero; 
}

.unorderedList {
    list-style-type: disc;
}